
@import url(http://fonts.googleapis.com/css?family=Exo);
html, body {
  font-family: Lato;
  overflow: hidden;
  background-color: rgb(245, 245, 245);
}
input{
	outline:none;
}
h1{
  width: 100%;
  text-align: center;
  font-family: Exo;
  font-size: 20px;
}
#login{
    position: absolute;
    top: calc(50% - 50px);
    width: 400px;
    height: 100px;
    left: calc(50% - 200px);
}
#login input{
	width: 400px;
	border-radius: 10px;
	height: 30px;
	font-size: 15px;
	font-family: Arial;
	border-width: 1px;
	margin: 10px;
}
#login input:focus{
	border-width: 2px;
	border-color: black;
}
#login_btn{
	background-color: rgb(46, 204, 113);
}
#login_btn:hover{
	margin: 11px;
}
#reg_btn{
	text-decoration: none;
	font-size: 17px;
	font-family: Exo;
	color: rgb(50, 50, 50);
}
#reg_btn:hover{
	text-decoration: underline;
}
